{% extends 'index.html' %}


{% block body %}

<div class="container" >
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active btn " id="uploadimg" href="#upload-image"><strong>Upload Image</strong> </a>
        </li>
    </ul>

    <!-- tab panes-->
    <div class="tab-content" id="myrow" >
        <div class="tab-pane active " id="upload-image" role="tabpanel" aria-labelledby="uploadimg"> 
            <div class="row">
              <div class="col">
                  <form action="#" method="POST" enctype="multipart/form-data">
                    <!-- file input --> <p></p>
                    <p>
                      <input type="file" name="image_name" class="btn" style="background-color:#11618E; color:cornsilk;" required>
                    </p>
                    <!-- submit button --> <p></p>
                    <p>
                      <input type="submit" value="submit" class="btn" style="background-color: #11618E; color:cornsilk ">
                    </p>

                    <p align="center"><strong>Intructions:</strong>  <br>
                        Only upload the file with extention "png",  "jpg",  "jpeg" <br>
                        Other extention will not work 
                    </p>
                  
                  </form>
              </div>
            </div>
        </div>
    </div>

<br>

  {% if fileupload  %}
    <div class="container" id="myrowresult"> 
      <div class="row">
        <div class="col col-8">

            <table>
              <tr>
                <th>Label</th>
                <th>Confidence Score</th>
              </tr>


              {% for name, score in data.items() %}

                  <tr>
                    <th>{{name }}</th>
                    <th>{{score}}</th>
                  </tr>

              {% endfor %}
            </table>
        </div>
        <div class="container col col-4" >
          <img src="static/upload/{{image}}" alt="uploaded image "  width="300" height="{{height}}">
      </div>

      </div>
      
    </div>
  {% endif   %}

</div>

{% if extention %}

  <div class="container" id=myrowresult> 
    <div >
      <p>Invalid Extenation of the image</p>

      <p> upload the file with extention "png",  "jpg",  "jpeg"</p>

    </div>
  </div>

{% endif %}


<style>
  #myrow{
    background-color: #e7f5f3;

  }
  #myrowresult{

    background-color: #e7f5f3;
    padding: 5%;
    align-content: center;
  }
  table{
    width: 100%;
    border-collapse: collapse;
  }
  table,th, td{
    border: 1px solid black;
  }

</style>


{% endblock body %}


    


